mat-card{
  width:60%;
  margin:auto;
}

textarea, mat-form-field{
  width:100%;
}

mat-spinner{
  margin: auto;
}

input[type='file']{
  visibility: hidden;
}

div.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

div.image-preview img{
  height: 100%;
}
